@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  color: #eeeeee;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Ubuntu;
  background: linear-gradient(
    #180834 0,
    #26032c calc(100vh + 0px),
    rgb(16, 16, 16) 100vh
  );
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 60px;
  z-index: 10;
}

.nav-box {
  width: calc(100% - 20px);
  margin: auto;
  max-width: 1200px;
  text-align: right;
}

.headerLogo img {
  width: 60px;
  height: 60px;
  float: left;
}

nav {
  background-color: rgba(16, 16, 16, 0.9);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  height: 60px;
}

.nav-list-link {
  text-decoration: none;
  color: white;
  font-size: 1.4em;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  width: 110px;
  text-align: center;
  transition: all 0.3s;
}
.nav-list-link:hover {
  letter-spacing: 5px;
}
#nav-hamburger{
  display: none;
  width: 40px;
  height: calc(60px - 12.5px);
  padding-top: 12.5px;
  cursor: pointer;
}
#nav-hamburger span{
  display: block;
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 5px 0;
}

#mobileMenu{
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100vh - 60px - 50px);
  background-color: rgba(16, 16, 16, 0.9);
  padding-top: 50px;
  display: none;
  animation: fadein 0.3s forwards;
  opacity: 0;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeout{
  animation: fadeout 0.3s forwards!important;
  opacity: 1;
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#mobileMenu a{
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  transition: all 0.3s;
}
#nav-hamburger p{
  display: none;
  font-size: 40px;
  text-align: center;
  position: absolute;
  top: 0;
  height: 100%;
  line-height: 60px;
  width: 40px;
}

main {
  width: calc(100% - 20px);
  margin: auto;
  max-width: 1200px;
}
#stylized-name{
    font-size: 1.2em;
}
footer{
  margin-top: 100px;
  background-color: rgb(16, 16, 16);
  text-align: center;
  padding: 50px 0px 10px 0px;
  height: auto;
}
footer img{

}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#info{
    position: relative;
    padding: 20px 0;
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 16px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    border: 1px solid #a0a0a0;
    color: #a0a0a0;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
    transition: 0.3s;
}
.fa:hover {
    border: 1px solid #101010;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
}
.fa-facebook:hover{
    background: #3B5998;
    color: white;
}
.fa-twitter:hover{
    background: #55ACEE;
    color: white;
}
.fa-youtube-play:hover {
    background: #bb0000;
    color: white;
}
#motto{
    font-family: 'Brush Script MT', cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#minimap {
    width: 200px;
    max-width: 90%;
    height: 200px;
}
#logo {
    position: sticky;
    max-width: 90%;
    width: 200px;
}

.left{
    float: left;
    width: 25%;
    margin: 0 auto;
}
.right {
    float: right;
    width: 25%;
    margin: 0 auto;
}
.center{
    padding: 0 25% 0 25%;
    width: 50%;
}

.link{
    transition: 0.3s;
}
.link:hover {
    color: #a2a2ff;
}

footer::after{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .left,.right{
        width: 90%;
        float: none;
        margin: 0 auto;
    }
}